
body {
  background: black;
  text-align: center;
  color: white;
}



#Box {
  width: 1200px;
  height: 300;
  /*padding-top: 65px;*/
  margin: 40px 20px;

}

.cell {

  /*border: 1px solid white;*/
  height: 125px;
  width: 145px;
  float: left;
 /* margin: 1px*/
}

.up {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("mole.png");
  background-size: contain;
  background-position: center;
  
}

.down {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("hole.png");
  background-size: contain;
  
}

#container {
  
  width: 960px;
  margin: auto;
  overflow: auto;
}

.player { 
  width: 19%;
  float: left;
  border: 1px solid #6CB853;
}

#tittle {
  float: left;
  width: 60%;
}

#container h3 {

background: #6CB853;
background-size: contain;
margin-top: 0px;


} 

.lives p {
  color: #F5BA18;

}
.score p {
  color: #F5BA18;

}
.lives {
  margin-bottom: 20px;
  /*border-bottom: 1px solid white;*/

}

#gameOver {
  height: 400px;
  width: 600px;
  background-color: #6CB853 ;
  position: fixed;
  top:200px;
  left: 300px;
  display: none;
}

